@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: oklch(0.95 0.03 307.26);
}


@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: auto;
  }